<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Movie Database</h1>
      <p class="text-white-50 h2">the present application consist of :</p>
      <ul class="list-group list-group-flush">
          <pre class="h5">List all movies from the database : in order to visualize the database content, manage movies in the movie bar
          then list of movies</pre>
        <pre class="h5">Add a new movie : if you want to add a new movie, you need to go to manage movies then add new movie</pre>
        <pre class="h5">
          Searching a specific movie: to search a movie , you'll need to go to list of movies .. then customize your search
        </pre>
        <pre class="h5">
          Delete a movie : in case you want to delete a movie all you have to do is to click on button
          delete after searching your movie
        </pre>
        <pre class="h5">
          Update movie : you can modify information about a movie by clicking on edit button after
        searching your movie
        </pre>
      </ul>
    </div>
  </div>
</header>
